@charset "UTF-8";
/* Para importar fuentes de Google Fonts (Mitr y Anton)*/
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Mitr&family=Montserrat+Alternates&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
/* Inicializo margin - padding y box-sizin para todo el sitio */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: rgb(249, 245, 239);
}

/*  Sección común en todas las páginas   */
.seccion-contenido h2 {
  color: rgb(91, 134, 0);
  font-family: "Mitr", sans-serif, cursive;
  font-size: 30px;
  text-align: center;
  text-shadow: 1px 2px rgb(80, 60, 31);
  text-transform: uppercase;
}

.barra-titulo {
  height: 40px;
  background-color: rgb(91, 134, 0);
  color: rgb(240, 125, 16);
  text-align: center;
  font-size: 18px;
  font-family: "Mitr", sans-serif, cursive;
  text-shadow: 2px 2px black;
  text-transform: uppercase;
}

/*Configuración general de imágenes*/
.imagen-gral, #quienesSomos .card .card-body .staff, #quienesSomos .imagenQuienes, #galeriaFotos .foto-galeria, .servicios .recreacion-item4, .servicios .recreacion-item3, .servicios .recreacion-item2, .servicios .recreacion-item1, .servicios .plastica-item2, .servicios .plastica-item1, .servicios .fisico-item3, .servicios .fisico-item2, .servicios .fisico-item1, .servicios .cultura-item3, .servicios .cultura-item2, .servicios .cultura-item1, #portada .portada__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*  HEADER con BOOTSTRAP personalizado  */
header {
  border-bottom: solid 3px rgb(91, 134, 0);
}
header .bg-beige {
  background-color: rgb(238, 229, 212);
}
header .navbar-brand-logo {
  height: 55px;
  width: 110px;
}
header .navbar-brand-logo:hover {
  transform: scale(1.1);
}
header .navbar-beige .navbar-nav .nav-link {
  color: rgb(91, 134, 0);
  font-family: "Mitr", sans-serif, cursive;
}
header .navbar-beige .navbar-nav .nav-link:hover {
  color: rgb(240, 125, 16);
}
header .navbar-toggler-barras {
  font-size: 40px;
  color: rgb(91, 134, 0);
  align-self: center;
  justify-self: right;
  padding: 10px;
  opacity: 100%;
  text-justify: center;
  border: solid 2px rgba(91, 134, 0, 0.4);
  border-radius: 20%;
}

#portada .portada__img {
  background-image: url("../Img/Alborada_portada.jpg");
  background-attachment: fixed;
  width: 100%;
  height: calc(100vh - 144px);
  display: flex;
  justify-content: center;
}
#portada .portada__titulo {
  font-family: "Mitr", sans-serif, cursive;
  text-shadow: 2px 2px black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#portada .portada__titulo h1 {
  padding-top: 20px;
  color: rgb(240, 125, 16);
  font-size: 40px;
}
#portada .portada__titulo h2 {
  padding-bottom: 50px;
  color: rgb(91, 134, 0);
  font-size: 25px;
  animation-delay: 1.5s;
  animation-duration: 2s;
}

/*  FOOTER   */
footer {
  background-color: rgb(240, 125, 16);
  height: 60px;
  width: 100%;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: 0px;
  padding-top: 10px;
  border-top: solid 3px;
  border-color: rgb(91, 134, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer__copyright {
  text-align: center;
  font-family: "Mitr", sans-serif, cursive;
  font-size: 0.8rem;
  color: rgba(80, 60, 31, 0.7);
}
footer .footer__social a {
  color: rgb(91, 134, 0);
  font-size: 20px;
  text-shadow: 2px 2px rgb(80, 60, 31);
  word-spacing: 5px;
  padding-right: 10px;
}
footer .footer__social a:hover {
  font-size: 25px;
}

/*  SERVICIOS   */
.servicios ul {
  margin-top: 20px;
  list-style-type: none;
}
.servicios ul li {
  font-family: "Mitr", sans-serif, cursive;
  font-size: 20px;
  font-weight: bold;
}
.servicios ul li:not(:last-child) {
  margin-bottom: 15px;
}
.servicios .carousel-inner img {
  width: 100%;
  height: 100%;
}
.servicios .servicios__row-rev {
  flex-direction: row-reverse;
}
.servicios .servicios__carousel {
  align-self: center;
}
.servicios .cultura-item1 {
  background-image: url(../Img/img1_cultura.jpg);
  alt: Carnaval;
}
.servicios .cultura-item2 {
  background-image: url(../Img/img2_cultura.jpg);
  alt: Exodo Jujeño;
}
.servicios .cultura-item3 {
  background-image: url(../Img/img3_cultura.jpg);
  alt: Pacha Mama;
}
.servicios .fisico-item1 {
  background-image: url(../Img/img1_fisico.jpg);
  alt: Tenis;
}
.servicios .fisico-item2 {
  background-image: url(../Img/img2_fisico.jpg);
  alt: Pileta;
}
.servicios .fisico-item3 {
  background-image: url(../Img/img3_fisico.jpg);
  alt: Futbol;
}
.servicios .plastica-item1 {
  background-image: url(../Img/img1_plastica.jpg);
  alt: Feria artesanal 1;
}
.servicios .plastica-item2 {
  background-image: url(../Img/img2_plastica.jpg);
  alt: Feria artesanal 2;
}
.servicios .recreacion-item1 {
  background-image: url(../Img/img1_recreativa.jpg);
  alt: Salida Recreativa 1;
}
.servicios .recreacion-item2 {
  background-image: url(../Img/img2_recreativa.jpg);
  alt: Salida Recreativa 2;
}
.servicios .recreacion-item3 {
  background-image: url(../Img/img3_recreativa.jpg);
  alt: Salida Recreativa 3;
}
.servicios .recreacion-item4 {
  background-image: url(../Img/img4_recreativa.jpg);
  alt: Salida Recreativa 4;
}
.servicios .foto {
  height: 250px;
}
.servicios .servicios__ulverde {
  align-self: center;
  text-shadow: 1px 2px rgb(91, 134, 0);
}
.servicios .servicios__ulverde li {
  background: url("../Img/manito_verde.png") no-repeat left top;
  background-size: 30px;
  padding-left: 30px;
}
.servicios .servicios__ulnaranja {
  align-self: center;
  text-shadow: 1px 2px rgb(240, 125, 16);
}
.servicios .servicios__ulnaranja li {
  background: url("../Img/manito_naranja.png") no-repeat left top;
  background-size: 30px;
  padding-left: 30px;
}

marquee p {
  color: rgb(80, 60, 31);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 16px;
}

#galeriaFotos .foto-galeria {
  height: 250px;
  border-radius: 5%;
}
#galeriaFotos .foto-galeria:hover {
  animation-name: agrandar;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0, 0.37, 0.58, 1);
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
#galeriaFotos .foto1 {
  background-image: url(../Img/img1_cultura.jpg);
}
#galeriaFotos .foto2 {
  background-image: url(../Img/img2_cultura.jpg);
}
#galeriaFotos .foto3 {
  background-image: url(../Img/img3_cultura.jpg);
}
#galeriaFotos .foto4 {
  background-image: url(../Img/img1_fisico.jpg);
}
#galeriaFotos .foto5 {
  background-image: url(../Img/img2_fisico.jpg);
}
#galeriaFotos .foto6 {
  background-image: url(../Img/img3_fisico.jpg);
}
#galeriaFotos .foto7 {
  background-image: url(../Img/img1_plastica.jpg);
}
#galeriaFotos .foto8 {
  background-image: url(../Img/img2_plastica.jpg);
}
#galeriaFotos .foto9 {
  background-image: url(../Img/img1_recreativa.jpg);
}
#galeriaFotos .foto10 {
  background-image: url(../Img/img2_recreativa.jpg);
}
#galeriaFotos .foto11 {
  background-image: url(../Img/img3_recreativa.jpg);
}
#galeriaFotos .foto12 {
  background-image: url(../Img/img4_recreativa.jpg);
}

#quienesSomos #quienes-item1 {
  background-image: url(../img/img_mental.jpg);
}
#quienesSomos #quienes-item2 {
  background-image: url(../img/img_manos.jpg);
}
#quienesSomos #quienes-item3 {
  background-image: url(../img/img_motriz.jpg);
}
#quienesSomos .imagenQuienes {
  background-attachment: fixed;
  width: 100%;
  height: calc(100vh - 184px);
  display: grid;
  grid-template-columns: 10% 90%;
  padding: 10px 10px 10px 10px;
  align-content: center;
}
#quienesSomos .imagenQuienes .quienesAlborada {
  grid-column: 2/3;
  background-color: rgba(80, 60, 31, 0.7);
  width: 100%;
}
#quienesSomos .imagenQuienes p {
  font-size: 16px;
  text-align: left;
  font-family: "Mitr", sans-serif, cursive;
  color: rgb(238, 229, 212);
  text-shadow: 1px 1px black;
  font-weight: bold;
  text-transform: uppercase;
  padding: 70px 20px 70px 20px;
  letter-spacing: 2px;
}
#quienesSomos .imagenQuienes p::first-letter {
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 3px;
}
#quienesSomos .row {
  justify-content: space-evenly;
}
#quienesSomos h5 {
  text-align: center;
}
#quienesSomos .card {
  margin: 5px;
  min-width: 250px;
}
#quienesSomos .card .card-body .staff {
  background-image: url(../Img/avatar-persona.png);
  width: 100%;
  height: 100px;
  background-size: contain;
  text-align: center;
  padding-top: 10px;
}
#quienesSomos .card .card-body .card-title {
  font-family: "Anton", sans-serif;
  font-size: 20px;
  color: rgb(240, 125, 16);
  text-shadow: 2px 2px black;
}
#quienesSomos .card .card-body .card-text {
  padding-top: 5px;
  margin-left: 10px;
  font-family: "Mitr", sans-serif, cursive;
  font-size: 16px;
  color: rgb(80, 60, 31);
}

#contacto .row {
  justify-content: flex-end;
}
#contacto label {
  color: rgb(80, 60, 31);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
#contacto .form-check-label {
  font-weight: lighter;
}
#contacto .motivo {
  margin-left: 30px;
}
#contacto .btn {
  margin-right: 20px;
  background-color: rgb(91, 134, 0);
  border-color: rgb(240, 125, 16);
  color: rgb(240, 125, 16);
  font-family: "Mitr", sans-serif, cursive;
}
#contacto .info-alborada {
  padding-top: 30px;
  font-family: "Mitr", sans-serif, cursive;
  font-size: 16px;
  color: rgb(80, 60, 31);
  text-align: center;
}
#contacto .info-alborada p {
  font-weight: lighter;
}
#contacto .map {
  padding: 0 20px 20px 20px;
}

/*  MEDIA QUERIES   */
@media (width > 600px) {
  #portada .portada__titulo h1 {
    font-size: 60px;
  }
  #portada .portada__titulo h2 {
    font-size: 40px;
    letter-spacing: 3px;
  }
  footer .footer__copyright {
    font-size: 0.9rem;
    padding-left: 10px;
  }
  footer .footer__social a {
    font-size: 25px;
    word-spacing: 7px;
    padding-right: 25px;
  }
  footer .footer__social a:hover {
    font-size: 30px;
  }
  #quienesSomos .imagenQuienes {
    grid-template-columns: 30% 70%;
    padding: 15px 15px 15px 15px;
  }
  #quienesSomos .imagenQuienes p {
    font-size: 20px;
    padding: 80px 15px 100px 15px;
  }
  #quienesSomos .imagenQuienes p::first-letter {
    font-size: 22px;
    letter-spacing: 3px;
  }
  .servicios .foto {
    height: 350px;
  }
  .servicios ul {
    margin-top: 0;
  }
}
@media (width > 1024px) {
  #portada .portada__titulo h1 {
    font-size: 85px;
  }
  #portada .portada__titulo h2 {
    font-size: 50px;
    letter-spacing: 5px;
  }
  footer .footer__copyright {
    font-size: 1rem;
    padding-left: 20px;
  }
  footer .footer__social a {
    font-size: 30px;
    word-spacing: 10px;
    padding-right: 20px;
  }
  footer .footer__social a:hover {
    font-size: 35px;
  }
  #quienesSomos .imagenQuienes {
    grid-template-columns: 40% 60%;
    padding: 20px 20px 20px 20px;
  }
  #quienesSomos .imagenQuienes p {
    font-size: 25px;
    padding: 100px 30px 100px 30px;
  }
  #quienesSomos .imagenQuienes p::first-letter {
    font-size: 30px;
    letter-spacing: 3px;
  }
  .servicios .foto {
    height: 400px;
  }
  .servicios ul {
    margin-top: 0;
  }
}
@keyframes agrandar {
  0% {
    z-index: 1;
    transform: scale3d(1, 1, 1);
    transform: rotate(20deg);
  }
  100% {
    z-index: 1;
    transform: rotate(0deg);
    transform: scale3d(1.25, 1.25, 1.25);
  }
}

/*# sourceMappingURL=alboradaStyles.css.map */
