/* Para importar fuentes de Google Fonts (Mitr y Anton)*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Mitr&family=Montserrat+Alternates&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


/* Inicializo margin - padding y box-sizin para todo el sitio */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {    
    background-color: $color-beige-claro;
}
/*  Sección común en todas las páginas   */
.seccion-contenido{
    h2 {
    color: $color-verde;
    font-family: $font-1;
    font-size: 30px;
    text-align: center;        
    text-shadow: 1px 2px $color-marron;
    text-transform: uppercase;
    }
}
.barra-titulo {
    height: 40px;
    background-color: $color-verde;
    color: $color-naranja;
    text-align: center;
    font-size: 18px;
    font-family: $font-1;
    text-shadow: 2px 2px black;
    text-transform: uppercase;
}
/*Configuración general de imágenes*/
.imagen-gral {    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}