#portada {
    .portada__img {
        @extend .imagen-gral;
        background-image: url("../Img/Alborada_portada.jpg");
        background-attachment: fixed;
        width: 100%;
        height: calc(100vh - (84px + 60px));
        display: flex;
        justify-content: center;
    }

    .portada__titulo {
        font-family: $font-1;
        text-shadow: 2px 2px black;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .portada__titulo {
        h1 {
            padding-top: 20px;
            color: $color-naranja;
            font-size: 40px;
        }
        h2 {
            padding-bottom: 50px;
            color: $color-verde;
            font-size: 25px;
    
            animation-delay: 1.5s;
            animation-duration: 2s;
        }
    }
}