/*  MEDIA QUERIES   */
@media (width > 600px) {
    #portada {
        .portada__titulo h1 {
            font-size: 60px;
        }

        .portada__titulo h2 {
            font-size: 40px;
            letter-spacing: 3px;
        }
    }

    footer {
        .footer__copyright {
            font-size: 0.9rem;
            padding-left: 10px;
        }

        .footer__social {
            a {
                font-size: 25px;
                word-spacing: 7px;
                padding-right: 25px;
                &:hover {
                    font-size: 30px;
                }
            }            
        }
    }

    #quienesSomos {
        .imagenQuienes {
            grid-template-columns: 30% 70%;
            padding: 15px 15px 15px 15px;

            p {
                font-size: 20px;
                padding: 80px 15px 100px 15px;

                &::first-letter {
                    font-size: 22px;
                    letter-spacing: 3px;
                }
            }
        }
    }
    .servicios {
        .foto {
            height: 350px;
        }

        ul {
            margin-top: 0;
        }
    }
}

@media (width > 1024px) {
    #portada {
        .portada__titulo h1 {
            font-size: 85px;
        }

        .portada__titulo h2 {
            font-size: 50px;
            letter-spacing: 5px;
        }
    }

    footer {
        .footer__copyright {
            font-size: 1rem;
            padding-left: 20px;
        }

        .footer__social {
            a {
                font-size: 30px;
                word-spacing: 10px;
                padding-right: 20px;
                &:hover {
                    font-size: 35px;
                }
            }            
        }
    }

    #quienesSomos {
        .imagenQuienes {
            grid-template-columns: 40% 60%;
            padding: 20px 20px 20px 20px;

            p {
                font-size: 25px;
                padding: 100px 30px 100px 30px;

                &::first-letter {
                    font-size: 30px;
                    letter-spacing: 3px;
                }
            }
        }
    }

    .servicios {
        .foto {
            height: 400px;
        }

        ul {
            margin-top: 0;
        }
    }
}