#requisitos {


.ImagenAlcance {    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    
    display: grid;    
    grid-template-columns: 1fr;    
    grid-template-columns: 40% 60%;
    padding: 20px 20px 20px 20px;

    justify-content: center;
    align-content: center;

    .alcanceAlborada{
        grid-column: 2/3;
        background-color: #354a5488;        
        width: 100%;
        
    }
    
    p {
        font-size: 30px;
        text-align: left;
        font-family: $font-1;
        color: $color-beige;
        text-shadow: 2px 2px black;        
        font-weight: bold;
        text-transform: uppercase;
        padding: 100px 30px 150px 30px;
        letter-spacing: 3px;

        &::first-letter{
            font-size: 40px;
            font-weight: bolder;
            letter-spacing: 5px;
        }
    }
}
$imgAlcance: ("alcance1": "imgMental.jpg", "alcance2": "imgMotriz.jpg");

    @each $id, $image in $imgAlcance {
        ##{$id} {
            background-image: url("../img/#{$image}");    
        }
    }

}