#galeriaFotos{    
    .row {
        justify-content: space-evenly;
        align-content: space-evenly;        
    }    
    .foto-galeria {    
        @extend .imagen-gral;        
        height: 250px;         
        border-radius: 5%;          
        margin: 10px;
        background-color: $color-beige-claro;
    }
    .foto-galeria:hover{
        animation-name: agrandar;
        animation-iteration-count:1;
        animation-timing-function: cubic-bezier(0, 0.37, 0.58, 1);
        animation-duration: 1.5s;  
        animation-fill-mode: forwards;       
    }
    $i : 1;
    @each $sector-map,
    $sector-nombre in $fotosAlborada {
        @each $nombre-archivo,
        $descripcion-archivo in $sector-map {
            .foto#{$i} {
                background-image: url(../Img/#{$nombre-archivo});
            }
            $i : ($i + 1);
        }        
    }
}    
