/*  SERVICIOS   */
.servicios {

    ul {
        margin-top: 20px;
        list-style-type: none;

        li {
            font-family: $font-1;
            font-size: 20px;
            font-weight: bold;
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }

    .carousel-inner img {
        width: 100%;
        height: 100%;
    }

    .servicios__row-rev {
        flex-direction: row-reverse;
    }

    .servicios__carousel {
        align-self: center;
    }

    //fotos carousel    
    @each $sector-map,
    $sector-nombre in $fotosAlborada {
        $i : 1;

        @each $nombre-archivo,
        $descripcion-archivo in $sector-map {
            .#{$sector-nombre}-item#{$i} {
                @extend .imagen-gral;
                background-image: url(../Img/#{$nombre-archivo});
                alt: #{$descripcion-archivo};
                $i : ($i + 1);
            }
        }
    }

    .foto {
        height: 250px;
    }

    $colores-serv: (
        verde: $color-verde,
        naranja: $color-naranja,
    );

    @each $nombre-color,
    $color-serv in $colores-serv {

        .servicios__ul#{$nombre-color} {
            align-self: center;
            text-shadow: 1px 2px #{$color-serv};

            li {
                background: url("../Img/manito_#{$nombre-color}.png") no-repeat left top;
                background-size: 30px;
                padding-left: 30px;
            }
        }
    }
}

marquee {
    p {
        color: $color-marron;
        font-family: $font-general;
        font-weight: bold;
        font-size: 16px;
    }
}